@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background: url(../img/signup2.jpg) top center no-repeat;
  background-size: cover;
  color: rgba(0, 0, 0, 0.8);
  display: grid;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 100vh;
  justify-items: center;
}
/*--------------------------------------------------------------
  # Container 
  --------------------------------------------------------------*/

.signup-container {
  display: grid;
  grid-template-areas: "left right";
  max-width: 900px;
}
/*--------------------------------------------------------------
  # Left side container
  --------------------------------------------------------------*/
.left-container {
  background: #807182;
  overflow: hidden;
  padding: 40px 0 0 0;
  position: relative;
  text-align: center;
  width: 300px;
}
.left-container h1 {
  color: rgba(0, 0, 0, 0.8);
  display: inline-block;
  font-size: 24px;
}
.left-container h1 i {
  background: #c5c69f;
  font-family: "Nunito", sans-serif;
  border-radius: 50%;
  color: #807182;
  font-size: 24px;
  margin-right: 5px;
  padding: 10px;
  transform: rotate(-45deg);
}
.left-container h2 {
  margin-top: 40px;
  margin-left: 15px;
  font-size: 16px;
  margin-right: 5px;
  padding: 10px; 
}
.left-container h3 {
    margin-top: 10px;
    font-size: 14px;
    margin-left: 15px;
    margin-right: 5px;
    padding: 10px; 
    font-weight: 100;
}
.left-container .signupbutton button[type=submit]{
    margin-top: 10px;
    background: #cddabc;
    font-family: "Nunito", sans-serif;
    box-shadow: none;
    font-size: 16px;
    transition: 0.3s;
    padding: 8px 20px;
    margin-left: 10px;
    border-radius: 6px;
    border:none;
    font-weight: 700;
    color: #52351e;;
}
.left-container .signupbutton button[type=submit]:hover{
    background: #c4c69f;
    color: #f7f7f7;
}
.left-container .puppy {
  bottom: -5px;
  position: absolute;
  text-align: center;
}
.left-container .puppy:before {
  background: #807182;
  content: "";
  height: 50%;
  margin-bottom: 20px;
  left: 0;
  opacity: 0.4;
  position: relative;
  width: 200%;
  z-index: 1;
}
.left-container img {
  filter: sepia(100%);
  margin-left: 40px;
  width: 100%;
}
/*--------------------------------------------------------------
  # Right Side Container
  --------------------------------------------------------------*/
.right-container {
  background: #c5c69f;
  display: grid;
  grid-template-areas: "." ".";
  width: 500px;
}
.right-container h1:nth-of-type(1) {
  color: rgba(0, 0, 0, 0.8);
  font-size: 28px;
  font-weight: 600;
}
.right-container h2:nth-of-type(1) {
  color: rgba(0, 0, 0, 0.6);
  display: inline-block;
  margin-top: 50px;
  font-size: 16px;
  font-weight: 400;
}
.right-container .form-group2{
  justify-content: center;
  display: flex;
  margin: 10px 0;
}
.right-container .form-group .user-email{
    display: inline-block;
    margin-top: 40px;
   padding-left: 120px; 
}
.right-container .form-group .user-pass{
    margin-top: 40px;
    padding-left: 120px;
}
.right-container input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  height: 38px;
  line-height: 38px;
  padding-left: 5px;
}
.right-container input, .right-container label {
  color: rgba(0, 0, 0, 0.8);
}
.right-container header {
  padding: 40px;
}
.right-container label, .right-container input, .right-container .user-photo {
  width: 176px;
}
.right-container footer {
  align-items: center;
  background: #fff;
  display: grid;
  padding: 5px 40px;
}
.right-container footer button {
  float: right;
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 38px;
  line-height: 38px;
  width: 130px;
  border-radius: 19px;
  font-family: "Montserrat", sans-serif;
}
.right-container footer #submit {
  background: #807182;
  border: 1px solid transparent;
  color: #fff;
}
.right-container footer #submit:hover {
  background: #171A2B;
}

.user-pass label, .user-email label {
  display: block;
  margin-bottom: 5px;
}
a:link{
  display:inline-block;
  margin-top: 40px;
  margin-left: 120px;
}
